@page "/employee"

@inject NotificationService _notice
<h3>Employee</h3>

<Spin Spinning="loading">

    <button type="button" class="btn btn-outline-primary" @onclick="() => { ShowInfor(0); }">Thêm Mới</button>
    <table style="margin-top:20px" class="table">
        <thead>
            <tr>

                <th scope="col">ID</th>
                <th scope="col">Tên chức vụ</th>
                <th scope="col">Tên vị trí</th>
                <th scope="col">Tên NV</th>
                <th scope="col">Địa chỉ</th>
                <th scope="col">Email</th>
                <th scope="col">CV</th>
                <th scope="col">Người Giới thiệu</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody id="tablebody">

            @if (listEmployee != null)
            {
                foreach (var item in listEmployee)
                {
                    <tr>
                        <td scope="col">@item.EmployeeId</td>
                        <td scope="col">@item.PositionName</td>
                        <td scope="col">@item.TitleName</td>
                        <td scope="col">@item.EmployeeName</td>
                        <td scope="col">@item.Address</td>
                        <td scope="col">@item.Email</td>
                        <td scope="col">@item.CV</td>
                        <td scope="col">@item.PresenterName</td>
                        <td scope="col">
                            <button type="button" class="btn btn-outline-primary" @onclick="() => { ShowInfor(item.EmployeeId); }">Edit</button>
                            <button type="button" class="btn btn-outline-danger" @onclick="()=>Delete(item.EmployeeId)">Delete</button>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</Spin>
<QLNVSSV.Client.Components.UpdateEdit @ref="Modal"></QLNVSSV.Client.Components.UpdateEdit>
<QLNVSSV.Client.Components.Pagination SelectedPage="SelectedPage" MetaData="MetaData" Spread="3"></QLNVSSV.Client.Components.Pagination>